*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body{
  background: linear-gradient(
    to right,
    #D3D3D3 0%, 
    #D3D3D3 15%,
    #F0FFF0 15%,
    #F0FFF0 85%, 
    #D3D3D3 85%,
    #D3D3D3 100%
  );
  overflow: auto;
}

background {
  font-family: garamound; 
  color: #F5FFFA;
}

p{
  font-size: 75%;
  color: black;
}

h1{
  font-size: 85%;
  color: #4B0082;
}

div{
  margin:0;
  padding:0;
  height: 100px;
  width: 1200px;
}

button {
  background-color: black;
  color: white;
  width: 100px;
  height: 80px;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
}

#navbar{
  font-size: 20px;
  width: 1000px;
  height: 1000px;
}

#navbar a{
  text-decoration: none; 
  margin: 0 30px;
  color: black;
}

#ofschoose{
  font-size: 30px;
  width: 100px;
  height: 100px;
  background-color: #5F9EA0;
}

#ofschoose a{
  text-decoration: none; 
  margin: 0 30px;
  color: black;
}
