*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body{
  background: linear-gradient(
    to right,
    #D3D3D3 0%, 
    #D3D3D3 15%,
    #F0FFF0 15%,
    #F0FFF0 85%, 
    #D3D3D3 85%,
    #D3D3D3 100%
  );
  overflow: auto;
  text-align:center;
}

background {
  font-family: garamound; 
  color: #F5FFFA;
}

h1{
  font-size:85%
}

p{
  font-size: 75%;
  color: black;
}

#navbar{
  font-size: 20px;
  background-color: blue;
  width: 1000px;
  height: 50px;
}

#navbar a{
  text-decoration: none; 
  margin: 0 30px;
  color: white;
}

#customize, #about{
  color: #4B0082;
  width: 500px;
  height:90px;
  background-color:white;
  margin-top: 300px;
  margin-left:225px;
}

a:link, a:visited{
  background-color: blue;
  color: white;
  font-size: 15px;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #6495ED;
}

#buttons{
  margin-top: 300px;
  margin-left:225px;
}
