*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body{
  background: linear-gradient(
    to right,
    #F0FFFF 0%, 
    #F0FFFF 15%,
    #000000 15%,
    #000000 85%, 
    #F0FFFF 85%,
    #F0FFFF 100%
  );
  text-align:center;
  overflow: auto;
}

p{
  font-size: 85%;
  color: black;
}

h1{
  font-size: 105%;
  color: #F8F8FF;
}

.button-container{
  display:flex;
  color: #000000;
}

button {
  font-size: 15px;
  font-family: Helvetica, sans-serif;
}

#ofschoose{
  font-size: 30px;
  background-color: #5F9EA0;
  text-align: center;
}

#ofschoose a{
  text-decoration: none; 
  margin: 0 30px;
  color: black;
  text-align:center;
}

#songsFormat{
  background-color: #E6E6FA;
}

#foodsFormat{
  background-color: #E0FFFF;
}

#moviesFormat{
  background-color: #90EE90;
}

#seriesFormat{
  background-color: #FFB6C1;
}

#activitiesFormat{
  background-color: #FFE4E1;
}
