*{
  margin:0;
  padding:0;
}

body{
  background: linear-gradient(
    to right,
    #778899 0%, 
    #778899 25%,
    pink 25%,
    pink 75%, 
    #778899 75%,
    #778899 100%
  );
}
background {
  font-family: garamound; 
  color: #F5FFFA;
}

p{
  font-size: 75%;
  color: black;
}

h1{
  font-size: 85%;
  color: DarkSlateGray;
}

div{
  margin:0;
  padding:0;
  background-color: #D3D3D3;
  height: 100px;
  width: 1200px;
}

button {
  background-color: grey;
  color: black;
  width: 500px;
  height: 500px;
  font-size: 10px;
}

#navbar{
  font-size: 20px;
  width: 1000px;
  height: 1000px;
}

#navbar a{
  text-decoration: none; 
  margin: 0 15px;
  color: black;
}
